name: "Build a release PDF"
on:
  push:
    tags:
      - "*"
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build the PDF
        run: nix build

      - name: Publish the PDF
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: result/ambros-method.pdf
